<div class="main-bg" *transloco="let t">

  <section class="intro">
    <h1>{{ t('header.title') }}</h1>
    <h1>"{{ t('header.name') }}"</h1>
    <h1 id="totalFunds">{{ t('header.funds-raised') }}: 0 грн.</h1>
  </section>

  <p-menu #menu [model]="localeItems" [popup]="true"/>
  <p-button class="lang-toggle" (onClick)="menu.toggle($event)">{{ activeLang }}</p-button>

  <p-dock [model]="dockItems" position="right">
    <ng-template pTemplate="item" let-item>
      <p>{{ item.label }}</p>
    </ng-template>
  </p-dock>

</div>

